*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    padding-left: 30px;
}
.componente{
    background-color: rgb(30, 30, 30);
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}
.titulo{
    background-color: rgb(28, 156, 116);
    font-size: 18px;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 8px;
}